<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pefhaw.planningtable"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pefhaw.planningtable.MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pefhaw.planningtable.EditActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="com.pefhaw.planningtable.EditActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pefhaw.planningtable.ActivityPersonAdd"
            android:label="@string/title_activity_activity_person_add" >
        </activity>
        <activity
            android:name="com.pefhaw.planningtable.ActivityTicketAdd"
            android:label="@string/title_activity_activity_ticket_add" >
        </activity>
    </application>

</manifest>
